In [1]:
# import requests

# url = 'http://www.wunderground.com/robots.txt'
# response  = requests.get(url)
# print(response.text)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time, os

In [3]:
#conda install -c conda-forge selenium

In [4]:
#pip install -U selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [5]:
driver = webdriver.Chrome('/usr/bin/chromedriver')

In [6]:
url = 'https://www.wunderground.com/history/monthly/us/ny/new-york-city/KLGA/date/2020-3'
driver.get(url)
time.sleep(1)

In [7]:
driver.page_source[:30]

'<html lang="en" itemscope="" i'

In [8]:
# url='https://www.wunderground.com/history/daily/us/ca/oakland/KOAK/date/2020-7-1'
# html_content = requests.get(url).text
soup = BeautifulSoup(driver.page_source, 'lxml')
#print(soup.prettify())

In [9]:
table = soup.find_all('table')
#print("Number of tables on site:", len(table))

In [10]:
Month = table[1]

In [11]:
head_line = Month.find("thead")
#print(head_line)
# Declare empty list to keep Columns names
headings = []
#for item in head.find_all("th"): # loop through all th elements
for item in head_line.find_all("td"): # find the first td element
    # convert the td elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
print(headings)

['Time', 'Temperature (째 F)', 'Dew Point (째 F)', 'Humidity (%)', 'Wind Speed (mph)', 'Pressure (Hg)', 'Precipitation (in)']

In [12]:
# first_header = ['Time']
# last_header = ['Precipitation (in)']
# column_headers = ['Temperature (째 F)', 'Dew Point (째 F)', 'Humidity (%)', 'Wind Speed (mph)', 'Pressure (Hg)']
# sub_headers = ['_max', '_avg', '_min']
# new_headers = first_header
# for i in column_headers:
#     for j in sub_headers:
#         new_headers.append(i + j)
# new_headers.extend(last_header)
# print(new_headers)

In [13]:
data_set = [  [2020, 3, 31], [2020, 4, 30]
            , [2020, 5, 31], [2020, 6, 30], [2020, 7, 31], [2020, 8, 31]
            , [2020, 9, 30], [2020, 10, 31], [2020, 11, 30], [2020, 12, 31]
            , [2021, 1, 31], [2021, 2, 28], [2021, 3, 31], [2021, 4, 30]
            , [2021, 5, 31], [2021, 6, 30], [2021, 7, 31], [2021, 8, 31], [2021, 9, 30]  ]
            #, [2019, 1, 31], [2019, 2, 28],[2019, 3, 31], [2019, 4, 30]
            #, [2019, 5, 31], [2019, 6, 30], [2019, 7, 31], [2019, 8, 31]
            #, [2019, 9, 30], [2019, 10, 31], [2019, 11, 30], [2019, 12, 31]
            #, [2020, 1, 31], [2020, 2, 29], ]
#print(data_set)
header_set = False
for ls in data_set:
    c_url = 'https://www.wunderground.com/history/monthly/us/ny/new-york-city/KLGA/date/' + str(ls[0]) +'-' + str(ls[1])
    #print(c_url)
    #url = 'https://www.wunderground.com/history/monthly/us/ny/new-york-city/KLGA/date/2020-3'
    driver.get(c_url)
    time.sleep(15)
    soup = BeautifulSoup(driver.page_source, 'lxml')
    table = soup.find_all('table')
    Month = table[1]
    entries = ls[2] + 1

    body = Month.find("tbody") 
    # print(body)
    tr_tbody=body.find('tr')
    #print(combo_1)

    d = {'Date':[0] * entries, 'Temp_max':[0] * entries, 'Temp_avg':[0] * entries
             , 'Temp_min':[0] * entries, 'DP_max':[0] * entries, 'DP_avg':[0] * entries
             , 'DP_min':[0] * entries, 'Humid(%)_max':[0] * entries, 'Humid(%)_avg':[0] * entries
             , 'Humid(%)_min':[0] * entries, 'WindSp(mph)_max':[0] * entries, 'WindSp(mph)_avg':[0] * entries
             , 'WindSp(mph)_min':[0] * entries, 'Pr(Hg)_max':[0] * entries, 'Pr(Hg)_avg':[0] * entries
             , 'Pr(Hg)_min':[0] * entries, 'Precip(in)':[0] * entries}
    
    # for dct in d:
    #     for old_key, new_key in new_headers[0].items():
    #         dct[new_key] = dct[old_key]
    #         del dct[old_key]        
    df = pd.DataFrame(data=d)
    dfcol = 0
    tdnum = -1
    for td in tr_tbody:
        tdnum += 1  # Expect 0 through 7 
        #print('Outer-Td') 
        #print(tdnum)
        for table in td:
            trnum = 0
            #print('table')
            #print(trnum)
            for tr in table:
                #print('trs in table-in-td')
                #print(tdnum, trnum)

                if ((trnum == 0) or (trnum == entries)):
                    ; #print ('SKIP Tdnum 0')  
                else:
                    #print ('Update Tdnum/Trnum')  
                    #print(tdnum, trnum) 
                    #tds = tr.find('td')
                    inner_tdnum = -1
                    if tdnum == 0:
                        dfcol = tdnum
                    else:
                        dfcol = 1 + (tdnum -1) * 3 
                    for td in tr:
                        if (((tdnum == 0) and (inner_tdnum == 0)) or ((tdnum == 6) and (inner_tdnum == 0)) or  ((tdnum != 0) and (inner_tdnum == 2))):
                            ; #print('Skipping last td entry in tr') 
                        else:
                            inner_tdnum += 1
                            update_col = dfcol + inner_tdnum
                            #print('tdnum/trnum/inner_tdnum/dfcol/update_col')  #trnum or row_id?)
                            #print(tdnum, trnum, inner_tdnum, dfcol,update_col)
                            #print(td)
                            for item in td:#combo_1.find_all("td"): # find the first td element
                                item = (item).rstrip("\n").strip(" ")
                                #print(update_col, trnum, item)
                                df.iat[trnum, update_col] = item
                                #print(df)
                trnum += 1

    df['Year'] = ls[0]
    df['Month'] = ls[1]
    if(header_set == True):
        df1 = df.drop([0])
        result = final_df.append(df1)
        final_df = result
        #final_df.extend(df1) #+append - appropriate df something
        #print('Skipping 0 and 1')
        #print(header_set)
    else:
        final_df = df.drop([0])
        header_set = True
    

    #list = c_url.split("-")
    #list2 = list[-1]
    #print(list2)
    #df1['Month']=list2
    #print(final_df) #.head()
                       

    #print(td1)
    #     df = pd.DataFrame(data=td,columns=new_headers)
    #     df.head()
    #     print(td.text)
    #     print('\n')

    # Declare empty list to keep Columns names

    # td1=combo_1.find_all('td')
    # print(td1)
    # for d in range(31):
    #  d += 1
    #  list = url.split("-")
    #  list2 = list.remove([-1])
    #  url = list2[0] + '-7-' + str(d)

print(final_df.head(40))
final_df.to_csv('final_df1.csv', index = False)

   Date Temp_max Temp_avg Temp_min DP_max DP_avg DP_min Humid(%)_max  \
1     1       44     35.5       26     17   13.7     10           55
2     2       56     48.2       38     38   30.5     17           73
3     3       58     52.4       48     50   44.6     35           89
4     4       57     50.5       46     37   28.5     19           66
5     5       52     44.8       40     34   25.4     19           71
6     6       45     41.6       37     36   34.0     30           89
7     7       47     41.0       37     32   16.5      5           76
8     8       60     47.8       37     21   14.7      9           41
9     9       72     59.3       47     32   22.8     17           41
10   10       66     61.0       55     49   40.2     30           64
11   11       56     50.4       44     42   28.5     20           66
12   12       48     44.7       42     41   36.1     22           85
13   13       70     54.6       43     56   41.3     14           96
14   14       55     48.9       45     25   21.7     19           40
15   15       53     46.8       42     25   19.3     10           51
16   16       43     39.3       34     31   20.8      9           67
17   17       55     47.5       41     43   38.3     32           89
18   18       53     47.6       44     30   26.8     23           52
19   19       52     46.2       42     43   40.1     32           89
20   20       77     56.0       47     56   47.0     42           93
21   21       67     48.5       42     46   22.7      9           55
22   22       43     38.4       35     23   15.2      9           55
23   23       42     39.2       37     39   33.5     23           89
24   24       53     44.0       37     34   32.0     30           82
25   25       45     42.8       41     39   34.0     30           82
26   26       58     47.0       39     40   32.2     26           71
27   27       67     57.5       51     44   34.8     22           74
28   28       51     46.4       45     43   38.2     28           93
29   29       47     45.5       45     45   43.2     42           93
30   30       49     45.7       42     45   40.1     38           93
31   31       48     44.1       41     42   35.7     32           89
1     1       55     45.5       39     32   28.3     24           70
2     2       58     49.2       40     30   28.0     26           60
3     3       52     49.6       46     43   38.2     31           74
4     4       60     50.9       46     42   40.1     37           86
5     5       62     52.8       47     46   43.3     41           83
6     6       66     55.8       48     45   33.0     22           86
7     7       65     57.4       54     43   29.9     21           62
8     8       62     53.7       49     49   45.5     42           90
9     9       58     52.8       48     53   41.4     23           87

   Humid(%)_avg Humid(%)_min WindSp(mph)_max WindSp(mph)_avg WindSp(mph)_min  \
1          41.8           30              23            13.4               6
2          51.1           35              16            10.3               5
3          75.5           53              26            10.1               0
4          44.8           24              28            18.2              12
5          48.5           27              24            12.9               5
6          74.7           65              20            13.0               5
7          42.1           18              23            14.7               8
8          27.6           16              14            10.2               5
9          25.8           15              17            11.0               6
10         46.8           33              20            12.8               6
11         44.6           28              22             9.4               3
12         72.5           36              13             8.7               0
13         70.3           15              26            14.7               5
14         34.5           27              24            14.8               8
15         34.9           23              13             9.5               5
16         48.9           28              18            13.7               9
17         71.6           50              12             8.3               3
18         44.7           31              18            10.1               5
19         79.5           60              18             9.9               3
20         74.8           37              21             9.2               0
21         38.0           21              21            13.3               6
22         39.8           27              17            13.6               6
23         80.8           55              20            14.8              12
24         64.1           45              17            10.3               3
25         71.0           62              22            15.3               8
26         57.6           39              15             8.6               0
27         47.3           18              13             6.5               0
28         74.9           46              20            11.4               3
29         91.8           89              25            18.4               9
30         80.7           74              14             7.5               0
31         73.0           54              14             8.8               3
1          53.2           31              18            12.0               6
2          44.8           33              30            19.5              13
3          65.2           48              25            18.9              10
4          67.5           42              17             9.0               0
5          71.1           52              12             6.1               0
6          47.4           21              16             9.0               5
7          36.9           24              20             9.6               0
8          74.9           50              15             7.3               0
9          67.8           35              32            14.4               0

   Pr(Hg)_max Pr(Hg)_avg Pr(Hg)_min Precip(in)  Year  Month
1        30.1       30.1       30.1       0.00  2020      3
2        30.1       29.9       29.8       0.00  2020      3
3        29.8       29.6       29.4       0.01  2020      3
4        29.9       29.7       29.5       0.28  2020      3
5        30.1       30.1       29.9       0.00  2020      3
6        30.1       29.9       29.8       0.00  2020      3
7        30.4       30.2       29.9       0.14  2020      3
8        30.4       30.4       30.3       0.00  2020      3
9        30.4       30.3       30.2       0.00  2020      3
10       30.2       30.0       29.9       0.00  2020      3
11       30.1       30.1       30.0       0.00  2020      3
12       30.2       30.1       30.1       0.00  2020      3
13       30.1       29.9       29.7       0.17  2020      3
14       30.4       30.3       30.1       0.12  2020      3
15       30.5       30.4       30.3       0.00  2020      3
16       30.6       30.5       30.4       0.00  2020      3
17       30.4       30.2       30.0       0.08  2020      3
18       30.5       30.4       30.3       0.07  2020      3
19       30.4       30.2       30.2       1.00  2020      3
20       30.2       29.9       29.7       0.02  2020      3
21       30.4       30.2       29.9       0.00  2020      3
22       30.7       30.6       30.4       0.00  2020      3
23       30.6       30.2       29.9       0.00  2020      3
24       30.2       30.1       30.0       1.44  2020      3
25       30.1       30.1       30.0       0.00  2020      3
26       30.1       29.9       29.8       0.01  2020      3
27       30.0       29.8       29.7       0.00  2020      3
28       30.1       30.1       30.0       0.00  2020      3
29       30.0       29.9       29.8       0.42  2020      3
30       30.0       29.9       29.9       0.01  2020      3
31       30.1       30.0       29.9       0.14  2020      3
1        29.9       29.8       29.7       0.00  2020      4
2        29.7       29.7       29.6       0.00  2020      4
3        29.8       29.7       29.6       0.00  2020      4
4        30.0       29.9       29.9       0.08  2020      4
5        30.0       30.0       29.9       0.00  2020      4
6        30.1       30.0       29.9       0.06  2020      4
7        30.0       29.8       29.6       0.00  2020      4
8        29.7       29.5       29.4       0.23  2020      4
9        29.6       29.3       29.1       0.00  2020      4

In [186]:
# body = Mar20.find_all("tr")
# # Head values (Column names) are the first items of the body list
# head = body[1] # 0th item is the header row
# #head_2 = body[1] # 0th item is the header row
# body_rows = body[2:] # All other items becomes the rest of the rows

# # Lets now iterate through the head HTML code and make list of clean headings

# # Declare empty list to keep Columns names
# headings = []
# #for item in head.find_all("th"): # loop through all th elements
# for item in head.find_all("td"): # find the first td element
#     # convert the td elements to text and strip "\n"
#     item = (item.text).rstrip("\n")
#     # append the clean column name to headings
#     headings.append(item)
# print(headings)

In [187]:
# body_1 = Mar20.find_all("tr")
# # Head values (Column names) are the first items of the body list
# head_2 = body_1[1] # 0th item is the header row
# body_rows = body_1[2:] # All other items becomes the rest of the rows

# # Lets now iterate through the head HTML code and make list of clean headings

# # Declare empty list to keep Columns names
# headings_2 = []
# #for item in head.find_all("th"): # loop through all th elements
# for item in head_2.find_all("td"): # find the first td element
#     # convert the td elements to text and strip "\n"
#     item = (item.text).rstrip("\n")
#     # append the clean column name to headings
#     headings_2.append(item)
# print(headings_2)

In [188]:
# Next is now to loop though the rest of the rows

#print(body_rows[0])
# all_rows = [] # will be a list for list for all rows
# for row_num in range(31):#len(body_rows)): # A row at a time
#     row = [] # this will old entries for one row
#     for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
#         # row_item.text removes the tags from the entries
#         # the following regex is to remove \xa0 and \n and comma from row_item.text
#         # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
#         #row_item = (row_item.text).rstrip([])
#         aa = re.sub("(\xa0)|(\n)|,","",row_item.text).strip(" ")
#         #append aa to row - note one row entry is being appended
#         row.append(aa)
#     # append one row to all_rows
#     all_rows.append(row)
# print(all_rows)

In [189]:
# print(body_rows[0])
# all_rows = [] # will be a list for list for all rows
# for row_num in range([32:64]):#len(body_rows)): # A row at a time
#     row = [] # this will old entries for one row
#     for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
#         # row_item.text removes the tags from the entries
#         # the following regex is to remove \xa0 and \n and comma from row_item.text
#         # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
#         #row_item = (row_item.text).rstrip([])
#         aa = re.sub("(\xa0)|(\n)|,","",row_item.text).strip(" ")
#         #append aa to row - note one row entry is being appended
#         row.append(aa)
#     # append one row to all_rows
#     all_rows.append(row)
# print(all_rows)

In [190]:
# column_headers = ['Time', 'Temperature (째 F)', 'Dew Point (째 F)', 'Humidity (%)', 'Wind Speed (mph)', 'Pressure (Hg)', 'Precipitation (in)']
# sub_headers = ['_max', '_avg', '_min']
# new_headers = []
# for i in column_headers:
#     for j in sub_headers:
#         new_headers.append(i + j)
# print(new_headers)

In [15]:
driver.quit

In [198]:
# df = pd.DataFrame(data=all_rows,columns=headings)
# df.head()

In [199]:
#driver.quit

In [200]:
# df['Date']='1'
# df.head()

In [201]:
# df['Year']=1

In [202]:
# df.head()

In [9]:
# ridership = pd.read_csv('MTA.csv')
# ridership.head()

,Date,Subways: Total Estimated Ridership,Subways: % Change From Pre-Pandemic Equivalent Day,Buses: Total Estimated Ridership,Buses: % Change From Pre-Pandemic Equivalent Day,LIRR: Total Estimated Ridership,LIRR: % Change From 2019 Monthly Weekday/Saturday/Sunday Average,Metro-North: Total Estimated Ridership,Metro-North: % Change From 2019 Monthly Weekday/Saturday/Sunday Average,Access-A-Ride: Total Scheduled Trips,Access-A-Ride: % Change From Pre-Pandemic Equivalent Day,Bridges and Tunnels: Total Traffic,Bridges and Tunnels: % Change From Pre-Pandemic Equivalent Day
0,9/23/2021,3019343,-50.2%,1382795,-41.6%,140100.0,-51%,115500.0,-56%,23031,-24.7%,915198,-6.0%
1,9/22/2021,3026655,-50.1%,1476326,-38.6%,139900.0,-51%,120100.0,-54%,23157,-27.2%,872883,-7.9%
2,9/21/2021,3024458,-49.7%,1490251,-37.5%,142700.0,-51%,123900.0,-52%,22399,-25.5%,860050,-6.8%
3,9/20/2021,2889141,-49.8%,1473044,-37.1%,148100.0,-49%,122100.0,-54%,21889,-21.9%,895109,-3.0%
4,9/19/2021,1598414,-38.9%,672307,-40.0%,69400.0,-26%,64100.0,-20%,12612,-32.6%,914623,-2.1%